.reveal code {
  padding: 20px;
  font-size: 28px;
  text-align: initial;
  line-height: 1.1;
}

.reveal ul {
  text-align: left;
}

.reveal section {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
}
.column-container {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.akra-section {
  color: black;
  font-size: 40px !important;
  display: grid;
  row-gap: 0.3em;
  grid-template-rows: 200px 200px;
  grid-template-areas: "a a"
                       "a a"
                       "b c"
                       "d d";
}

.zdjecie-akra {
  grid-area: a;
  width: 800px;
}
.fb {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.strona {
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.aplikuj-na {
  grid-area: d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.akra-red {
  color: #ED1C24;
}

.fb img, .strona img, .aplikuj-na img {
  width: 40px;
  margin: 0 20px !important;
  margin-bottom: -5px !important;
}
